.accordion {
    &__btn {
        user-select: none;
        cursor: pointer;
    }

    &__content {
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

    &--activating &__content {
        visibility: visible;
    }

    &--active &__content {
        height: auto;
        visibility: visible;
    }
}
