.banner-4 {
    &__content {
        position: relative;
        height: 100%;
        min-height: 350px;
        padding: 12px 45px 32px 20px;
        background: url("/img/banners/4/bg.jpg") center / cover no-repeat;
        display: flex;
        align-items: flex-start;
        border-radius: 6px;
        border: 1px solid $color-gray-300;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            left: 123px;
            top: -36px;
            display: inline-block;
            background: url("/img/banners/4/logo-bg.svg") center / contain no-repeat;
            width: 454px;
            height: 454px;
        }

        &:after {
            content: "";
            position: absolute;
            width: 250px;
            height: 454px;
            left: 0;
            top: 0;
            background: $color-primary;
        }
    }

    &__logo {
        position: relative;
        z-index: 1;
        width: 104px;
        margin-right: 34px;
    }

    &__img {
        position: relative;
        z-index: 1;
        margin-right: 35px;
        margin-top: 15px;
        width: 250px;
    }

    &__main {
        position: relative;
        z-index: 1;
        margin-left: auto;
        padding-top: 37px;
        flex: 0 1 730px;
    }

    &__main-title {
        font-size: 50px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__main-title-value {
        font-weight: 700;
    }

    &__list {
        margin-top: 27px;
        padding-left: 10px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        font-size: 24px;
        color: #1c1638;

        &:before {
            content: "";
            margin-top: 8px;
            margin-right: 24px;
            flex: 0 0 auto;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: $color-purple;
            border-radius: 50%;
        }

        &:not(:first-child) {
            margin-top: 24px;
        }
    }

    @media (max-width: 1280px) {
        &__content {
            padding-right: 30px;
            padding-left: 10px;

            &:before {
                left: 40px;
            }

            &:after {
                content: "";
                position: absolute;
                width: 250px;
                height: 454px;
                left: 0;
                top: 0;
                background: $color-primary;
            }
        }

        &__logo {
            margin-right: 20px;
            width: 85px;
        }

        &__img {
            align-self: center;
            width: 200px;
        }

        &__main {
            flex-basis: 560px;
        }

        &__main-title {
            font-size: 40px;
        }

        &__item {
            font-size: 19px;

            &:before {
                margin-top: 6px;
                margin-right: 18px;
                width: 10px;
                height: 10px;
            }
        }
    }

    @media (max-width: 991px) {
        &__content {
            padding: 20px 10px;
            min-height: 250px;
            border: none;

            &:before {
                top: -5px;
                left: -136px;
                width: 287px;
                height: 287px;
            }

            &:after {
                display: none;
            }
        }

        &__logo {
            position: absolute;
            top: 0;
            left: 2px;
            width: 38px;
        }

        &__img {
            position: absolute;
            left: 24px;
            bottom: 5px;
            width: 166px;
        }

        &__main {
            padding-top: 0;
            margin-left: 154px;
        }

        &__main-title {
            font-size: 20px;
            display: flex;
            flex-direction: column;
        }

        &__list {
            margin-top: 16px;
            padding-left: 0;
        }

        &__item {
            font-size: 12px;

            &:before {
                content: "";
                margin-top: 4px;
                margin-right: 6px;
                width: 7px;
                height: 7px;
            }
    
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}
