.banner-2 {
    &__content {
        position: relative;
        padding: 40px 72px 0 68px;
        height: 100%;
        min-height: 350px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background: #00a5d3;
        border-radius: 6px;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            right: -145px;
            bottom: -32px;
            background: url("/img/banners/2/bg.png") bottom right / contain no-repeat;
            width: 580px;
            height: 382px;
        }
    }

    &__main {
        position: relative;
        z-index: 1;
        flex: 0 0 530px;
        align-self: flex-end;
    }

    &__main-img {
        display: block;
    }

    &__main-content {
        position: absolute;
        left: 198px;
        bottom: -40px;
        padding-bottom: 10px;
        width: 332px;
        height: 332px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        text-align: center;

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 312px;
            height: 312px;
            border-radius: 50%;
            border: 1px solid #009ac8;
        }
    }

    &__main-title {
        font-size: 44px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__main-value {
        font-size: 100px;
        font-weight: 700;
        line-height: 0.8;
        text-transform: uppercase;
    }

    &__main-text {
        font-size: 34px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__main-icon {
        margin-top: 10px;
        width: 51px;
    }

    &__info {
        position: relative;
        z-index: 1;
        margin-left: 40px;
        padding-top: 45px;
        width: 628px;
        max-width: 100%;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        font-size: 32px;
        color: #fff;
        text-transform: uppercase;

        &:before {
            content: "";
            margin-top: 10px;
            margin-right: 21px;
            flex: 0 0 auto;
            display: inline-block;
            width: 18px;
            height: 18px;
            background: $color-primary;
            border-radius: 50%;
        }

        &:not(:first-child) {
            margin-top: 32px;
        }
    }

    @media (max-width: 1280px) {
        &__content {
            padding: 30px 50px 0 30px;

            &:before {
                content: "";
                position: absolute;
                right: -104px;
                bottom: -23px;
                background: url("/img/banners/2/bg.png") bottom right / contain no-repeat;
                width: 418px;
                height: 275px;
            }
        }

        &__main {
            flex-basis: 400px;
        }

        &__main-content {
            left: 140px;
            bottom: -30px;
            width: 240px;
            height: 240px;

            &:before {
                width: 224px;
                height: 224px;
            }
        }

        &__main-title {
            font-size: 32px;
        }

        &__main-value {
            font-size: 72px;
        }

        &__main-text {
            font-size: 24px;
        }

        &__main-icon {
            margin-top: 10px;
            width: 36px;
        }

        &__info {
            width: 520px;
        }

        &__item {
            font-size: 24px;

            &:before {
                margin-right: 18px;
                margin-top: 7px;
                width: 14px;
                height: 14px;
            }
        }
    }

    @media (max-width: 991px) {
        &__content {
            padding: 18px 11px 18px 15px;
            flex-direction: column;
            justify-content: flex-start;
            min-height: 250px;

            &:before {
                right: -95px;
                bottom: -21px;
                width: 280px;
                height: 187px;
            }
        }

        &__main {
            position: static;
            flex: none;
            width: 100%;
            align-self: flex-start;
        }

        &__main-content {
            padding: 11px 14px;
            position: relative;
            left: unset;
            bottom: unset;
            flex-direction: row;
            border-radius: 38px;
            width: 100%;
            height: auto;
            justify-content: flex-start;
            text-align: left;

            &:before {
                border-radius: 38px;
                height: calc(100% - 4px);
                width: calc(100% - 4px);
            }
        }

        &__main-img {
            position: absolute;
            bottom: -18px;
            left: -48px;
            max-width: 150px;
        }

        &__main-icon {
            margin-right: 17px;
            margin-top: 0;
            order: -1;
            width: 21px;
        }

        &__main-title {
            font-size: 20px;
            line-height: 1.4;
        }

        &__main-value {
            margin-left: 5px;
            font-size: 20px;
            line-height: 1.4;
        }

        &__main-text {
            margin-left: 5px;
            font-size: 20px;
            line-height: 1.4;
        }

        &__item {
            font-size: 16px;

            &:before {
                margin-top: 5px;
                margin-right: 10px;
                width: 9px;
                height: 9px;
            }

            &:not(:first-child) {
                margin-top: 12px;
            }
        }

        &__info {
            padding-top: 35px;
            margin-left: 135px;
            max-width: calc(100% - 135px);
        }
    }
}
