.banner-slider {
    &__content {
        position: relative;
    }

    &__main {
        position: relative;
    }

    &__slide {
        height: auto;
    }

    &__pagination {
        position: absolute;
        bottom: 15px;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    }

    @media (max-width: 767px) {
        &__pagination {
            bottom: 6px;
        }

        &__prev,
        &__next {
            display: none;
        }
    }
}
