.brands-slider {
    &__header {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box {
        position: relative;
    }

    @media (max-width: 767px) {
        &__header-link {
            font-size: 14px;
        }

        &__prev,
        &__next {
            display: none;
        }
    }

    @media (max-width: 640px) {
        &__wrapper {
            margin-top: -10px;
            margin-left: -10px;
            transform: translate3d(0, 0, 0) !important;
            flex-wrap: wrap;
            width: auto;
        }

        &__slide {
            margin-top: 10px;
            margin-left: 10px;
            height: 85px;
            padding: 10px 3px;
            width: calc(25% - 10px) !important;
        }
    }
}
