.brand-card {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0eefa;
    border-radius: 6px;

    &--py-xl {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}