.callback {
    &__content {
        position: relative;
    }

    &__body {
        background: $color-second;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    &__main {
        padding: 60px 60px 55px;
        max-width: 710px;
    }

    &__text {
        margin-top: 17px;
    }

    &__form {
        max-width: 520px;

        &:not(:first-child) {
            margin-top: 26px;
        }
    }

    &__img-box {
        position: relative;
        flex: 0 0 45.05%;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__img-absolute {
        position: absolute;
        left: calc(20% + 500px);
        transform: translateX(-50%);
        bottom: -95px;
    }

    @media (max-width: 1400px) {
        &__img-absolute {
            max-width: 340px;
        }
    }

    @media (max-width: 1280px) {
        &__main {
            padding: 45px 45px 40px;
            max-width: 710px;
        }

        &__img-absolute {
            left: calc(15% + 550px);
            max-width: 340px;
        }
    }

    @media (max-width: 1180px) {
        &__img-absolute {
            left: calc(50% + 120px);
            max-width: 340px;
        }
    }

    @media (max-width: 991px) {
        &__main {
            padding: 35px;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
        }

        &__form {
            max-width: 100%;
        }

        &__img-box {
            display: none;
        }

        &__img-absolute {
            display: none;
        }
    }

    @media (max-width: 767px) {
        &__main {
            padding: 18px 20px 20px;
        }

        &__title {
            font-size: 22px;
        }

        &__text {
            margin-top: 10px;
        }

        &__form {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
}
