.cart-btn {
    display: flex;
    align-items: center;

    &__main {
        flex: 0 0 auto;
    }

    &__info {
        &:not(:first-child) {
            margin-left: 15px;
        }
    }

    &__label {
        opacity: 0.8;
        font-size: 13px;

        &:not(:last-child) {
            margin-bottom: 2px;
        }
    }

    @media (max-width: 991px) {
        &__main {
            width: 38px;
            height: 38px;
        }

        &__info {
            display: none;
        }
    }
}
