.catalog-header {
    display: flex;
    align-items: flex-start;

    &__filters-btn {
        display: none;
    }

    &__sort {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__sort-main {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__sort-title {
        margin-right: 20px;
    }

    &__sort-list {
        margin-left: -16px;
        margin-top: -10px;
        display: flex;
        align-items: center;
    }

    &__sort-btn {
        margin-left: 16px;
        margin-top: 10px;

        .link__icon {
            visibility: hidden;
        }

        &--active {
            color: $color-second;
            cursor: default;

            .link__icon {
                visibility: visible;
            }
        }
    }

    &__switch {
        margin-left: auto;
        padding-left: 20px;
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }

    &__switch-btn {
        .figure__img {
            filter: grayscale(1);
        }

        &:not(:first-child) {
            margin-left: 10px;
        }

        &--active {
            cursor: default;
            border-color: $color-second;

            .figure__img {
                filter: grayscale(0);
            }
        }
    }

    &__sort-select {
        display: none;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;

        &__filters-btn {
            margin-bottom: 10px;
            display: flex;
        }

        &__sort-select {
            display: flex;
            flex: 1 1 auto;
        }
        
        &__sort-main {
            display: none;
        }

        &__switch {
            padding-left: 25px;
        }
    }
}