.catalog-menu {
    &__container {
        height: 100%;
    }

    &__content {
        height: 100%;
    }

    &__main {
        position: relative;
        padding-right: 15px;
        width: 365px;
        height: 100%;
    }

    @media (max-width: 991px) {
        &__content {
            width: 100%;
        }
        
        &__main {
            padding-right: 0;
            width: 100%;
        }
    }
}