.catalog {
    &__content {
        display: flex;
        align-items: flex-start;
    }

    &__sidebar {
        margin-right: 20px;
        flex: 0 0 268px;
        min-width: 0;
    }

    &__body {
        flex: 1 1 auto;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__list {
        margin-top: -20px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 20px;
        margin-left: 20px;
        width: calc(25% - 20px);
    }

    &__footer {
        margin-top: 40px;
    }

    @media (max-width: 1340px) {
        &__item {
            width: calc(33.33% - 20px);
        }
    }

    @media (max-width: 1080px) {
        &__item {
            width: calc(33.33% - 20px);
        }
    }

    @media (max-width: 991px) {
        &__sidebar {
            flex: none;
        }

        &__item {
            width: calc(33.33% - 20px);
        }
    }

    @media (max-width: 860px) {
        &__item {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 767px) {
        &__list {
            margin-top: -10px;
            margin-left: -10px;
        }
        
        &__item {
            margin-top: 10px;
            margin-left: 10px;
            width: calc(50% - 10px);
        }

        &__footer {
            margin-top: 30px;
        }
    }
}
