.catalog-footer {
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    &__bottom-link {
        margin-left: 20px;
    }

    @media (max-width: 767px) {
        &__bottom {
            justify-content: center;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        
        &__bottom-link {
            display: none;
        }
    }
}
