.categories-slider {
    display: flex;

    &__main {
        margin: -40px -19px -50px;
        padding: 40px 19px 50px;
    }

    @media (max-width: 767px) {
        &__main {
            margin: -20px calc($container-mobile-offset * -1);
            padding: 20px $container-mobile-offset;
        }
    }
}