.category {
    padding: 4px 8px 4px 20px;
    min-height: 84px;
    background-color: $color-gray-200;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    &__title {
        align-self: center;
        padding-bottom: 4px;
        max-width: 162px;
    }

    &__img {
        margin-left: 10px;
        width: 68px;
        max-height: 76px;
        flex: 0 0 auto;
        object-fit: contain;
    }

    @media (max-width: 767px) {
        &__img {
            margin-left: 5px;
            width: 56px;
        }
    }
}
