.container {
    max-width: calc($container-width + $container-offset * 2);
    margin: 0 auto;
    padding: 0 $container-offset;

    &--fluid {
        width: 100%;
        max-width: 100%;
    }

    @media (max-width: 767px) {
        padding: 0 $container-mobile-offset;
    }
}
