.custom-slider {
    &__header {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        &--pr-sm {
            padding-right: 12px;
        }
    }

    &__controls {
        flex: 0 0 auto;
        display: none;

        &:not(:first-child) {
            margin-left: 20px;
        }

        &--show {
            display: flex;
        }
    }

    &__slide {
        margin-right: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: calc(33.33% - 20px);

        &--items-start {
            align-items: flex-start;
        }
    }

    &__main[data-space-between] &__slide {
        margin-right: 0;
    }

    &__item {
        height: 100%;
        width: 100%;
    }

    &__img {
        &.gallery__btn {
            cursor: pointer;
        }

        &--review {
            max-height: 247px;
        }
    }

    &__pagination {
        margin-top: 16px;
    }

    &__footer {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__more {
        width: 320px;
        max-width: 100%;
    }

    @media (max-width: 991px) {
        &__header {
            margin-bottom: 32px;
        }

        &__title {
            &--lg-sm {
                max-width: 540px;
            }
        }

        &__footer {
            margin-top: 32px;
        }

        &__slide {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 767px) {
        &__header {
            margin-bottom: 20px;
            flex-direction: column;
            align-items: flex-start;

            &--mobile-mb-sm {
                margin-bottom: 16px;
            }

            &--mobile-row {
                flex-direction: row;
            }
        }

        &__controls {
            margin-left: auto;

            &:not(:first-child) {
                margin-top: 8px;
                margin-left: auto;
            }

            &--mobile-right {
                &:not(:first-child) {
                    margin-top: 0;
                    margin-left: 12px;
                }
            }
        }

        &__title {
            max-width: 375px;
        }

        &__main {
            margin-left: calc(-1 * $container-mobile-offset);
            margin-right: calc(-1 * $container-mobile-offset);
            padding-left: $container-mobile-offset;
            padding-right: $container-mobile-offset;
        }

        &__slide {
            width: calc(100% - 20px);
        }

        &__footer {
            margin-top: 24px;
        }
    }
}
