.filter-item {
    padding: 15px 0;
    border-bottom: 1px solid $color-gray-300;

    &__title {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;

        &:before {
            @include pseudo-icon("/icons/right-black.svg", 24px, 24px);
            margin-right: 9px;
            background-size: 10px 13px;
            transition: transform 0.35s;
        }

        &.accordion__btn--active {
            &:before {
                transform: rotate(90deg);
            }
        }
    }

    &__title-content {
        display: flex;
        align-items: center;
    }

    &__title-text {
        margin-left: 11px;
    }

    &__title-value {
        margin-left: 5px;
    }

    &__main {
        padding-top: 20px;
        padding-bottom: 5px;
    }
}
