
.filter-num {
    max-width: 100%;
  
    &__fields {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
  
      &--mb-xs {
        margin-bottom: 10px;
      }
    }
    
    &__field {
      position: relative;
      display: inline-flex;
      flex: 0 0 calc(50% - 10px);
      min-width: 0;
  
      &:not(:first-child) {
        margin-left: 20px;

        &:before {
          content: '-';
          position: absolute;
          left: -16px;
          top: 50%;
          transform: translate(50%, -50%);
        }
      }
  
      &--justify-end {
        justify-content: flex-end;
      }
    }
    
    &__field-width {
      position: absolute;
      padding: 12px 20px;
      max-width: 100%;
      visibility: hidden;
      white-space: pre-wrap;
    }
  
    &__header {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    &__input {
      padding: 7px 15px;
      flex: 0 0 auto;
      max-width: 100%;
      background-color: transparent;
      border-radius: 6px;
      border: 1px solid $color-gray-400;
      color: $color-gray-400;
      outline: none;
    }
  
    &__input-text {
      margin-left: 3px;
    }
    
    &__field:last-child:not(:first-child) &__input {
      margin-left: auto;
    }

    &__slider-box {
      padding: 11px 8px 11px 11px;
    }
    
    &__slider {
      background-color: $color-gray-400;
    }
  
    &__values {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__values-max {
      margin-left: auto;
      padding-left: 12px;
    }
  }
  