.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background: $color-black;

    &__columns {
        margin-left: -20px;
        display: flex;
        align-items: flex-start;
    }

    &__column {
        margin-left: 20px;
        width: calc(25% - 20px);
    }

    &__logo {
        width: 220px;
    }

    &__privacy {
        margin-top: 27px;
    }

    &__label {
        margin-bottom: 20px;
    }

    &__menu-btn {
        display: none;
    }

    &__menu-item {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 260px;
    }

    &__contacts-btn {
        display: none;
    }

    &__contacts-item {
        &:not(:first-child) {
            margin-top: 10px;
        }

        .link__text {
            margin-top: 2px;
        }
    }

    &__social {
        margin-top: 20px;
    }

    &__callback-btn {
        margin-top: 40px;
    }

    &__copyright {
        margin-top: 40px;
    }

    @media (max-width: 1280px) {
        padding-top: 60px;
        padding-bottom: 60px;

        &__logo {
            width: 190px;
        }
    }

    @media (min-width: 992px) {
        &__menu-content {
            height: auto !important;
            visibility: visible;
        }

        &__contacts-content {
            height: auto !important;
            visibility: visible;
        }
    }

    @media (max-width: 991px) {
        padding: 40px 0;

        &__columns {
            flex-direction: column;
        }

        &__column {
            width: calc(100% - 20px);

            &:first-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &:not(:first-child) {
                margin-top: 20px;
            }

            &:nth-child(2) {
                margin-top: 48px;
            }
        }

        &__logo {
            width: 162px;
        }

        &__label {
            display: none;
        }

        &__menu-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title__icon {
                .icon__img {
                    transition: transform 0.35s;
                }
            }

            &.accordion__btn--active {
                .title__icon {
                    .icon__img {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &__menu-list {
            padding-top: 10px;
        }

        &__contacts {
            max-width: 100%;
        }

        &__contacts-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title__icon {
                .icon__img {
                    transition: transform 0.35s;
                }
            }

            &.accordion__btn--active {
                .title__icon {
                    .icon__img {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &__social {
            margin-top: 30px;
        }

        &__callback-btn {
            margin-top: 26px;
        }

        &__privacy {
            margin-top: 0;
            max-width: 162px;
            text-align: right;
        }

        &__copyright {
            text-align: left;
            max-width: 276px;
        }
    }

    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
