.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        max-height: 100%;
        object-fit: contain;

        &--rotate-180deg {
            transform: rotate(180deg);
        }
    }

    &--sm {
        width: 20px;
        height: 20px;
    }
}
