.input {
    &__main {
        position: relative;
        width: 100%;
    }

    &__field {
        padding: 12px 15px;
        width: 100%;
        display: block;
        border-radius: 5px;
        border: 1px solid $color-gray-400;
        background-color: #fff;
        color: $color-gray-400;
        line-height: 1.25;
        outline: none;

        &::placeholder {
            color: $color-gray-400;
        }

        &:focus {
            color: $color-black;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type="number"] {
            -moz-appearance: textfield;
        }

        &--gray-100 {
            background-color: $color-gray-100;
            border-color: $color-gray-200;
        }

        &--sm {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &--area {
            resize: none;
            overflow: hidden;

            &-lg {
                height: 92px;
            }
        }

        &--btn-right {
            padding-right: 62px;
        }

        &--text-sm {
            font-size: 14px;
            line-height: 1.286;
        }

        &--text-gray-400 {
            &:focus {
                color: $color-gray-400;
            }
        }

        &--border-gray-300 {
            border-color: $color-gray-300;
        }

        &--border-none {
            border-color: transparent;
        }

        &--py-xs {
            padding-top: 9.5px;
            padding-bottom: 9.5px;
        }

        &--py-sm {
            padding-top: 11px;
            padding-bottom: 11px;
        }

        &--py-lg {
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }

    &--error &__field {
        border-color: $color-red;
        color: $color-red;
    }

    &__name,
    &__error {
        position: absolute;
        left: 12px;
        padding: 0 3px;
        max-width: calc(100% - 24px);
        background: #fff;
        display: none;
        pointer-events: none;
    }

    &__name {
        bottom: calc(100% - 9px);
    }

    &__error {
        top: calc(100% - 8px);
    }

    &--error &__error {
        display: block;
    }

    &__field:focus ~ &__name {
        display: block;
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--left {
            right: unset;
            left: 8px;
        }
    }
}
