.main {
    padding-bottom: 80px;
    flex: 1 1 auto;

    &__banner {
        margin-top: 20px;
    }

    &__section {
        margin-top: 80px;

        &--mt-xs {
            margin-top: 40px;
        }
    }

    &__products-slider {
        margin-top: 80px;
    }

    &__brands {
        margin-top: 80px;
    }

    &__numbers {
        margin-top: 40px;
    }

    @media (max-width: 991px) {
        padding-bottom: 60px;

        &__section {
            margin-top: 60px;

            &--mt-xs {
                margin-top: 40px;
            }
        }

        &__products-slider {
            margin-top: 60px;
        }

        &__brands {
            margin-top: 60px;
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 30px;

        &__banner {
            margin-top: 30px;
        }

        &__section {
            margin-top: 30px;
        }

        &__products-slider {
            margin-top: 45px;
        }

        &__brands {
            margin-top: 30px;
        }

        &__numbers {
            margin-top: 20px;
        }
    }
}
