.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    &__lines {
        position: relative;
        z-index: 1;

        &,
        &:before,
        &:after {
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
            display: block;
            transform: rotate(0);
            width: 18px;
            transition: transform 0.35s, width 0.35s, background 0.35s;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            right: 0;
        }

        &:before {
            transform: translateY(-6px);
        }

        &:after {
            transform: translateY(6px);
        }

        &--purple {
            &,
            &:before,
            &:after {
                background-color: $color-purple;
            }
        }
    }

    &--active &__lines,
    .js-main-menu-btn-active &__lines {
        background-color: transparent;
        transform: rotate(45deg);

        &:before {
            transform: rotate(-90deg);
        }

        &:after {
            transform: rotate(0deg);
        }
    }
}
