.nav-btn {
    padding: 8px 20px;
    color: $color-gray-500;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: background 0.35s, border 0.35s, color 0.35s;

    &--inactive,
    &:disabled {
        background: $color-gray-300;
    }

    &--active,
    &.tabs-btns__btn--active {
        background: $color-second;
        color: #fff;
        cursor: default;
    }

    &--border-gray-400 {
        border-color: $color-gray-400;
        color: $color-gray-400;
    }

    &--border-gray-400#{&}--active,
    &--border-gray-400.tabs-btns__btn--active {
        background-color: transparent;
        border-color: $color-second;
        color: $color-second;
    }
}
