.nav-btns {
    min-width: 0;

    &__list {
        padding: 1px;
        display: flex;
        align-items: center;
        border: 1px solid $color-gray-300;
        border-radius: 21px;
        overflow-x: auto;
    }

    &__btn {
        flex: 0 0 auto;
    }
}
