.news {
    &__title {
        margin-bottom: 30px;
    }

    &__controls {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        margin-top: -20px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 20px;
        margin-left: 20px;
        width: calc(25% - 20px);
    }

    @media (max-width: 1280px) {
        &__item {
            width: calc(33.33% - 20px);
        }
    }

    @media (max-width: 991px) {
        &__item {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 767px) {
        &__title {
            margin-bottom: 20px;
        }

        &__controls {
            margin-bottom: 10px;
            flex-wrap: wrap;
        }

        &__tabs-btns {
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        &__controls-link {
            margin-bottom: 10px;
            font-size: 14px;
        }

        &__list {
            margin-top: -10px;
            margin-left: -10px;
        }

        &__item {
            margin-top: 10px;
            margin-left: 10px;
            width: calc(50% - 10px);
        }
    }

    @media (max-width: 640px) {
        &__item {
            width: calc(100% - 10px);
        }
    }
}
