.numbers-items {
    &__list {
        margin-top: -20px;
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 20px;
        margin-left: 20px;
        width: calc(25% - 20px);
    }

    @media (max-width: 991px) {
        &__item {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 767px) {
        &__list {
            margin-top: -10px;
            margin-left: -10px;
        }

        &__item {
            margin-top: 10px;
            margin-left: 10px;
            width: calc(50% - 10px);
        }
    }
}
