.phone-item {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 5px;
        flex: 0 0 auto;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}