.products-slider {
    &__header {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box {
        position: relative;
    }

    &__main {
        margin: -40px -19px;
        padding: 40px 19px;
        display: flex;
        width: auto;
        user-select: none;
    }

    &__slide {
        margin-right: 20px;
        height: auto;
        width: calc(20% - 20px);
    }

    &__navigation-mobile {
        display: none;
    }

    @media (max-width: 767px) {
        &__header {
            margin-bottom: 12px;
        }

        &__main {
            margin: -30px calc($container-mobile-offset * -1);
            padding: 30px $container-mobile-offset;
            display: flex;
            width: auto;
            user-select: none;
        }

        &__navigation-desktop {
            display: none;
        }

        &__navigation-mobile {
            margin-left: 10px;
            display: flex;
        }

        &__next {
            margin-left: 10px;
        }
    }
}
