.tag {
    padding: 8px 20px;
    border-radius: 25px;
    border: 1px solid $color-gray-400;
    font-size: 14px;
    color: $color-gray-400;
    transition: background 0.35s;

    &:hover {
        background-color: $color-gray-100;
    }
}