.tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin-bottom: 10px;
    }

    &__list {
        margin-top: -10px;
        margin-left: -10px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-top: 10px;
        margin-left: 10px;
    }

    &__more {
        display: none;
    }

    &__less {
        display: none;
    }

    @media (max-width: 767px) {
        &__item {
            &--addition {
                display: none;
            }
        }

        &__more {
            margin-top: 10px;
            display: inline-flex;
        }

        &--active &__item {
            &--addition {
                display: block;
            }
        }

        &--active &__more {
            display: none;
        }

        &--active &__less {
            margin-top: 10px;
            display: inline-flex;
        }
    }
}
