.text {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: $color-black;

    &--xs {
        font-size: 12px;
    }

    &--sm {
        font-size: 14px;
    }

    &--lg {
        font-size: 18px;
    }

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--lh-1 {
        line-height: 1;
    }

    &--lh-12 {
        line-height: 1.2;
    }

    &--lh-13 {
        line-height: 1.3;
    }

    &--lh-14 {
        line-height: 1.4;
    }

    &--lh-16 {
        line-height: 1.6;
    }

    &--white {
        color: #fff;
    }

    &--red {
        color: $color-red;
    }

    &--gray-200 {
        color: $color-gray-200;
    }

    &--gray-300 {
        color: $color-gray-300;
    }

    &--gray-400 {
        color: $color-gray-400;
    }

    &--primary {
        color: $color-primary;
    }

    &--second {
        color: $color-second;
    }

    &--medium {
        font-weight: 500;
    }

    &--semibold {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }

    &--iflex {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &--flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-end {
        justify-content: flex-end;
    }

    &--items-start {
        align-items: flex-start;
    }

    &--items--end {
        align-items: flex-end;
    }

    &--line {
        text-decoration: underline;
    }

    &--line-through {
        text-decoration: line-through;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-word;
    }

    &--clamp-2 {
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    &--link-white {
        a {
            color: #fff;
        }
    }

    &--link-primary {
        a {
            color: $color-primary;
        }
    }

    p {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    a {
        transition: color 0.35s;
    }

    &__icon {
        flex: 0 0 auto;

        &:first-child:not(:last-child) {
            margin-right: 10px;
        }

        &:last-child:not(:first-child) {
            margin-left: 10px;
        }
    }

    @media (max-width: 767px) {
        p {
            &:not(:first-child) {
                margin-top: 18px;
            }
        }
    }
}
