.top-menu {
    &__list {
        margin-left: -30px;
        margin-top: -15px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-left: 30px;
        margin-top: 15px;
    }
}
