.catalog-filters {
    border: 1px solid var(--color-gray-300);
    border-radius: 5px;
}

.catalog-filters__header {
    margin-bottom: 4px;
    padding: 16px 12px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(1, 49, 64, 0.1);
}

.catalog-filters__header-close {
    margin-left: 10px;
}

.catalog-filters__main {
    padding: 20px;
}

.catalog-filters__item:first-child {
    padding-top: 0;
}

.catalog-filters__clear {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .catalog-filters {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 20;
        background: #fff;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        transform: translateX(100%);
        border: none;
        overflow-y: auto;
        display: block;
        visibility: hidden;
        transition: transform 0.35s, visibility 0.35s;
    }

    .catalog-filters__header {
        display: flex;
    }

    .catalog-filters--active {
        transform: translateX(0);
        visibility: visible;
    }
}