.categories-slider-sm {
    display: flex;
}

.categories-slider-sm__main {
    margin: -40px -19px -50px;
    padding: 40px 19px 50px;
    width: auto;
}

@media (max-width: 767px) {
    .categories-slider-sm__main {
        margin: -20px calc(var(--container-mobile-offset) * -1);
        padding: 20px var(--container-mobile-offset);
    }
}