.container {
    max-width: calc(var(--container-width) + var(--container-offset) * 2);
    margin: 0 auto;
    padding: 0 var(--container-offset);
}

.container--fluid {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 767px) {
    .container {
        padding: 0 var(--container-mobile-offset);
    }
}