.filter-menu {
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid var(--color-gray-300);
	box-shadow: 0px 2px 15px rgba(32, 31, 36, 0.1);
	border-radius: 6px;
	overflow: hidden;
}

.filter-menu__main {
	padding: 12px 10px;
	min-height: 0;
}

.filter-menu__btn {
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 5px;
	text-align: left;
	transition: background 0.2s;
}

.filter-menu__btn:hover {
	background-color: var(--color-gray-100);
}

.filter-menu__btn:not(:first-child) {
	margin-top: 4px;
}

.filter-menu__btn--active,
.filter-menu__btn.select-menu__option--active {
	background-color: var(--color-gray-100);
	cursor: default;
}

.filter-menu__btn-icon {
	margin-right: 5px;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter-menu__btn-addition {
	margin-left: 4px;
}