.news__title {
    margin-bottom: 30px;
}

.news__controls {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__list {
    margin-top: -20px;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
}

.news__item {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(25% - 20px);
}

@media (max-width: 1280px) {
    .news__item {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 991px) {
    .news__item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .news__title {
        margin-bottom: 20px;
    }

    .news__controls {
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .news__tabs-btns {
        margin-bottom: 10px;
    }

    .news__tabs-btns:not(:last-child) {
        margin-right: 5px;
    }

    .news__controls-link {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .news__list {
        margin-top: -10px;
        margin-left: -10px;
    }

    .news__item {
        margin-top: 10px;
        margin-left: 10px;
        width: calc(50% - 10px);
    }
}

@media (max-width: 640px) {
    .news__item {
        width: calc(100% - 10px);
    }
}