.submenu--border-right {
    border-right: 1px solid var(--color-gray-350);
}

.submenu__title {
    margin-bottom: 20px;
}

.submenu__title--mb-lg {
    margin-bottom: 30px;
}

.submenu__item:not(:first-child) {
    margin-top: 18px;
}

.submenu__link {
    width: 100%;
    justify-content: flex-start;
}

.submenu__link:after {
    content: '';
    display: inline-block;
    background: url('/icons/right-second.svg') center / contain no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    background-size: 9px 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s;
}

.submenu__link:hover:after {
    opacity: 1;
    visibility: visible;
}

.submenu__item--active>.submenu__link {
    color: var(--color-second);
}

.submenu__item--active>.submenu__link:after {
    opacity: 1;
    visibility: visible;
}

.submenu__sub {
    position: absolute;
    left: 100%;
    top: 0;
    width: 365px;
    height: 100%;
    padding-left: 40px;
    padding-right: 15px;
    display: none;
}

.submenu__sub--xl {
    padding-right: 0;
    width: 980px;
    max-width: calc(100vw - 365px - var(--container-offset) * 2);
}

.submenu__item--active>.submenu__sub {
    display: block;
}

@media (max-width: 991px) {
    .submenu--border-right {
        border-right: none;
    }

    .submenu__sub {
        left: 0;
        padding-left: 0;
        width: 100%;
        padding-right: 0;
        background-color: #fff;
    }

    .submenu__item:last-child {
        padding-bottom: 20px;
    }
}