.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
}

.swiper-pagination-lock {
    display: none;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
}

.swiper-pagination-bullet:not(:first-child) {
    margin-left: 6px;
}

.swiper-pagination-bullet:before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: var(--color-gray-400);
    border-radius: 50%;
}

.swiper-pagination-bullet-active:before {
    background-color: var(--color-second);
    border-color: var(--color-second);
    width: 10px;
    height: 10px;
}