:root {
    --container-width:            1420px;
    --container-offset:           20px;
    --container-mobile-offset:    10px;

    --color-primary:              #ffc558;
    --color-primary-light:        #ffd689;
    --color-second:               #009ac8;
    --color-second-dark:          #0081a8;
    --color-purple:               #4c52a3;      
    --color-purple-dark:          #302757;
    --color-gray-100:             #f6f6f6;
    --color-gray-200:             #f0f4ff;
    --color-gray-300:             #e3e3e3;
    --color-gray-350:             #d9d9d9;
    --color-gray-400:             #9c9c9c;
    --color-gray-400--rgb:        156, 156, 156;
    --color-gray-500:             #6d6e71;
    --color-black:                #232b46;
    --color-red:                  #eb5757;
}