* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    min-height: 100%;
    font-family: "GothamPro", sans-serif;
    color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus,
button:focus,
input:focus,
select:focus {
    outline-color: $color-second;
}

img {
    max-width: 100%;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}
